name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          cache: true

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi, x86_64-linux-android

      - name: Install dependencies
        # 注意：这里的路径加上了 TCL-BtRemote/
        run: flutter pub get
        working-directory: app
        
      - name: Build APK
        run: flutter build apk --release
        working-directory: app
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BtRemote-APK
          path: app/build/app/outputs/flutter-apk/app-release.apk
