name: Build BtRemote APK
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'

      - name: Build
        run: |
          # 自动寻找项目位置（增强兼容性）
          APP_PATH=$(find . -name pubspec.yaml -exec dirname {} \; | head -n 1)
          if [ -z "$APP_PATH" ]; then
            echo "错误：仓库里还是没找到源码文件！"
            ls -R
            exit 1
          fi
          cd "$APP_PATH"
          flutter pub get
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BtRemote-APK
          path: "**/*.apk"
